@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Gugi|Karla');


.h {position:absolute; top:-99999px; opacity:0; text-indent:-99999px;}

/*sub header*/
.headerWrap.sub {width: 100%;  background: url("../img/sub_top_visual.jpg") center center; background-size: cover; }
header.sub {width: 940px; height: 300px; position: relative; margin: 0 auto; text-align: center;}
header.sub h1 {width: 120px; z-index: 9999; position: absolute; top:20px;}
header.sub h1 img {width: 100%; }
header.sub h2 {display: none;}

header.sub .menu {position: absolute; bottom:20px; right: 0px;   }
header.sub .menu li {float: left; }
header.sub .menu a{font: bold 18px/30px "Karla"; color:#fff; margin-left: 20px; display: block; transition: all 0.5s;}
header.sub .menu a.on {border-bottom: 1px solid #fff;}

header.sub .util {position: absolute; top:30px; right: 0px;}
header.sub .util li {float: left; }
header.sub .util a{font: bold 12px/1 'Nanum Gothic', sans-serif; color:#ddd; display: block; margin-left: 15px; }

/*모바일메뉴*/
#moButton i {font-size:20px; color:#fff;}
#moButton {display: none;}

#menuMo {width:200px; height:100%; background: rgba(0, 0, 0,0.8); position: fixed; top:0; left:-270px; transition: all 0.5s; padding: 20px; }
#menuMo.on {left:0px;}
#menuMo h3 {margin-bottom: 20px; height: 60px;}
#menuMo h3 img {height: 100%;}

.menuMo a{font: bold 25px/2 "Karla"; color:#fff; display: block;3}
.menuMo li:nth-last-child(1) a{margin-bottom: 20px;}
.utilMo a{font: 13px/2 'Nanum Gothic', sans-serif; color:#fff; display: block; margin-bottom: 9px;}


/*top 버튼*/
body>a {height: 40px; width: 40px; box-shadow: 0 2px 10px 1px rgba(0,0,0,0.12); border-radius: 50%; color: #94979c; text-align: center; padding-top: 13px; position: fixed; background:#fff; right: 2%; z-index: 9; display: none; transition: all 0.5s; font-size: 12px;}

#Move_Top{bottom: 20px;}
#Move_Top:hover{color:#fff; background:#2d4e3e;}


/*footer*/
.footerWrap {width: 100%; background: #414143; margin-top: 100px;}

footer {width:940px; margin: 0 auto;}

.fcon1 {overflow: hidden; padding: 20px 0px;}
.fcon1 .map {overflow: hidden; width: 70%; float: left;}
.fcon1 .map ul {width: 130px; float: left;}
.fcon1 .map ul li h3 {font: bold 13px/1.8 "Karla"; color:#888;}
.fcon1 .map ul li a {font:12px/1.8 "Karla"; color:#777;}
.fcon1 .map ul li a:hover {color:#888;}

.fcon1 footerMenu {float: right;}
.fcon1 .footerMenu>ul {overflow: hidden;}
.fcon1 .footerMenu>ul>li>a{float: right; padding: 1px 6px; font:11px/1.8 'Nanum Gothic', sans-serif;  color:#777;}
.fcon1 .footerMenu>ul>li>a:hover{color:#888;}

.fcon2 {overflow: hidden; border-top: solid 1px; padding: 10px 0px 50px;}
.fcon2>h2>img {float: left; width: 100px; margin-right: 10px;}
.fcon2>p {float: left; margin-top: 24px;}
.fcon2>a {float: right; width: 150px; border: solid 1px #888; font: 11px/1 'Nanum Gothic', sans-serif; color:#888; padding: 7px; margin-top: 24px;}



/*content*/
.content {width: 940px; margin: 0 auto; overflow: hidden; padding: 50px 0px;}

/*lnb*/
.lnb {width: 200px; float: left; }
.lnb h2 {font: bold 30px/1.3 "Karla"; color:#000; margin-bottom: 30px; letter-spacing: -1px;}
.lnb a {font:13px/1.7 'Nanum Gothic', sans-serif; color: #666;}

.lnb li {width: 100%; height: 50px; border-bottom: solid 1px #ddd; overflow: hidden; padding: 0px 15px;}
.lnb li a {font:  15px/50px 'Nanum Gothic'; }
.lnb li a::after {content: "-"; font: 40px/50px 'Nanum Gothic'; float: right; color:#ddd;}
.lnb li:nth-of-type(1) {height: 80px; background: #2d4e3e; text-align: center; font: bold 18px/80px 'Nanum Gothic'; color:#fff;}

.lnb li.on {border-bottom: solid 2px #2d4e3e;}
.lnb li.on a {font-weight: bold;}
.lnb li.on a::after {content: "+"; font: bold 20px/50px 'Nanum Gothic'; float: right; color:#2d4e3e;}

/*sub_content*/
.sub_content {width: 740px; float: left; padding-left: 50px; }
.sub_title p {font: 12px/1.5 'Karla'; color:#000;}
.sub_title h2 {font: bold 30px/1.3 "Karla"; color:#000; margin-bottom: 20px;}
.sub_title h2::after {content:""; display: block; width: 50px; height: 2px; background: #2d4e3e; margin-top: 10px;}
.sub_content>p {font: 12px/2 'Nanum Gothic', sans-serif; color:#666;}

/*로그인*/
.loginArea {width: 100%; height: 200px; overflow: hidden; text-align: center; padding-top: 20px; border-bottom: solid 1px #ddd;}
.loginArea h3 {font: bold 30px/1 "Karla"; color:#000;}
.loginArea h4 {font: 12px/2 'Nanum Gothic', sans-serif; color:#666; margin-bottom: 20px;}
.loginArea fieldset {width: 300px; margin-left: 220px; }
.idPw {float: left; }
.idPw input{display: block; height: 30px; width: 200px; margin: 5px;}
.loginArea input[type="submit"] {display: block; width: 70px; height: 65px; margin: 5px; background: #2d4e3e; font:  15px/1.3 "Karla"; color:#fff; cursor:pointer; border:none;}

.subArea {width: 100%; border-bottom: solid 1px #ddd;}
.subArea div {width: 100%; height: 50px; padding: 20px 40px;}
.subArea p {float: left;}
.subArea a {float: right; display: inline-block; border: 1px solid #ddd; padding: 4px; margin-top: -5px; border-radius: 2px; color:#666;}

/*자유게시판 테이블*/
.typeA { width:700px; border-bottom:1px solid #888;}
.typeA th {height:40px; font:bold 12px/1 "orbitron"; color:#666; border-top:2px solid #888; border-bottom:1px solid #888; letter-spacing:2px; }
.typeA td {border-bottom:1px dashed #ccc; height:36px; font:12px/1 'Nanum Gothic', sans-serif; color:#888; text-align:center;}


/*회원가입 테이블*/
.sub_content h3 {font: bold 30px/1 "Karla"; color:#000; text-align: center;}
.sub_content h4 {font: 12px/2 'Nanum Gothic', sans-serif; color:#666; margin-bottom: 20px; text-align: center;}

.join {width:600px; margin: 0 auto;}
.join th {border-bottom:1px solid #ccc; height:50px; font: bold 14px/1 'Nanum Gothic', sans-serif; color:#666; text-align:left; padding-left:20px; background: #f8f8f8;}
.join td {border-bottom:1px solid #ccc; padding-left:20px;}
.join td input {padding:4px 8px; font:12px/1 'Nanum Gothic', sans-serif,"arial"; color:#aaa; background:#fff; border:1px solid #bbb;}
.join td select {padding:3px 8px; font:11px/1 'Nanum Gothic', sans-serif; color:#bbb; background:#fff;border:1px solid #ccc;}
.join td label {font:12px/1 'Nanum Gothic', sans-serif; color:#888; margin-right:5px;}
.join td input[type="radio"] {position:relative; top:4px; margin-right:20px;}
.join td input[type="checkbox"] {position:relative; top:4px; margin-right:20px;}
.join td textarea {width:370px; height:150px; border:1px solid #bbb; background:#fff; padding:10px; box-sizing:border-box; resize:none; margin:10px 0px;}
.join td input[type="file"] {border:1px solid #bbb;}
.join th:last-child {border-right:none;}

.joinButton {width: 600px; margin: 0 auto; text-align: right;}
.joinButton input {display: inline-block; width: 70px; height: 30px; margin: 5px; background: #2d4e3e; font:  15px/1.3 "Karla"; color:#fff; cursor:pointer; border:none; margin: 20px 0px 10px 5px;}

.ess::before {content:"* "; font: bold 14px/1 'Nanum Gothic', sans-serif; color:#2d4e3e; margin-left: -12px;}



/*타블렛---------------------------------------*/
@media screen and (min-width:640px) and (max-width:939px) {

/*sub header*/
header.sub {width: 90%; height: 200px;}

/*footer*/
.footerWrap {margin-top: 50px;}

footer {width:90%;}

.fcon1>.map {width: 70%;}
.fcon1>.map>ul {width: 25%;}

.fcon2>h2>img {float: left; width: 100px; margin-right: 10px;}
.fcon2>p {margin-top: 24px;}
.fcon2>a {width: 150px;}

/*content*/
.content {width: 90%; padding: 20px 0px;}

/*lnb*/
.lnb {width: 22%;}

/*sub_content*/
.sub_content {width: 78%; padding-left: 30px; }

/*로그인*/
.loginArea fieldset {width: 300px; margin: 0 auto;}


/*자유게시판 테이블*/
.typeA { width:100%;}

/*회원가입 테이블*/

.join {width:100%;}
.join th {padding-left:3%;}
.join td {padding-left:3%;}
.join td textarea {width:90%; }

.joinButton {width: 100%; }

}




/*모바일---------------------------------------*/
@media screen and (min-width:0px) and (max-width:639px) {
/*sub header*/
header.sub {width:100%;  margin: 0px auto 0px; background: #2d4e3e; height: 60px; overflow: hidden;}
header.sub h1 {display: none;}

header.sub h2 {display: block; height: 60px; float: left; font:bold 20px "Karla"; color:#fff;}
header.sub h2 img {height: 60%; margin-top:13px; margin-left: 30px;}
    
header.sub .gnb{display: none;}
    
/*모바일메뉴*/
#moButton i {font-size:25px; color:#fff; margin: 18px 35px 0px 0px;}
#moButton {display: block; float: right;}

/*footer*/
.footerWrap {margin-top: 50px;}

footer {width:90%;}

.fcon1>.map {width: 100%;}
.fcon1>.map>ul {width: 25%;}

.fcon1>.footerMenu {float: left; margin: 20px 0px 0px 0px;}
.fcon1>.footerMenu>ul>li{float: left; padding: 1px 12px 1px 0px; font:11px/1.8 'Nanum Gothic', sans-serif;  color:#888;}

.fcon2>h2>img {float: left; width: 100px; margin-right: 10px;}
.fcon2>p {margin-top: 5px;}
.fcon2>a {width: 150px;}    
    

/*content*/
.content {width: 90%; padding: 20px 0px;}

/*lnb*/
.lnb {width: 100%; float: none; margin-bottom: 20px;}

/*sub_content*/
.sub_title p {text-align: center;}
.sub_title h2 {text-align: center; font-size: 22px;}
.sub_title h2::after {margin: 10px auto;}
    
/*sub_content*/
.sub_content {width: 100%; padding-left: 0px; }

/*로그인*/
.loginArea fieldset {width: 300px; margin: 0 auto;}

.subArea {width: 100%; border-bottom: solid 1px #ddd;}
.subArea div {width: 100%;  height:60px; text-align: center; padding: 10px 0px;}
.subArea p {float: none; margin-bottom: 10px;}
.subArea a {float: none; padding: 4px; margin-top: -5px; margin-bottom: 10px;}

/*자유게시판 테이블*/
.typeA { width:100%;}

/*회원가입 테이블*/

.join {width:100%;}
.join th {padding-left:3%;}
.join td {padding-left:3%;}
.join td textarea {width:90%; }

.joinButton {width: 90%; } 
}